@import "tailwindcss";

:root {
  --primary: "#2A73E8",
  --primaryDark: "#1E4CB8",

  --secondary: "#41C62A",
  --secondaryDark: "#2F9E1D",

  --accent: "#20B8B5",

  --background: "#F8FAFC",
  --surface: "#FFFFFF",
  --surfaceAlt: "#F1F5F9",

  --heading: "#0F172A",
  --body: "#334155",
  --muted: "#64748B",

  --success: "#22C55E",
  --warning: "#F59E0B",
  --error: "#EF4444",
}